@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #DFAD73;
  --secondary-color: #031831;
}

html,
body {
  margin: 0;
  background: var(--secondary-color);
}


.transition-all {
  transition: all 0.3s ease-in-out;
}

.slide-down {
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}